/* Front Page Styles */
.front-page nav {
	background: transparent;
	border: none;
	margin-top: 20px;
}

.front-page .navbar-default .navbar-brand {
	color: #FFFFFF;
}

.front-page .navbar-default .navbar-nav > li > a:hover, .front-page .navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
}

	/* First Feature */
	#first-feature {
		background-image: url(./images/cover.png);
		height: 690px;
		background-size: cover;
	}

	#first-feature .jumbotron h1 {
		font-weight: 300;
		font-size: 3.14285714em;
		margin-top: 15%;
		line-height: 1.31818182em;
		color: white;
	}

		/* First Feature Media Queries */

			/* iPhone X */
			@media only screen and (device-width: 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
				#first-feature {
					height: 812px;
				}

				#first-feature .jumbotron h1 {
					margin-top: 40%;
				}
			}

			/* iPhone 6/7/8 */
			@media only screen and (device-width: 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
				#first-feature {
					height: 667px;
				}
			}

			/* iPhone 6/7/8 Plus */
			@media only screen and (device-width: 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
				#first-feature {
					height: 736px;
				}
			}

	/*Second Feature*/
	#second-feature {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	#second-feature h2 {
		margin-bottom: 0.78787878787879em;
		font-size: 2.35714286em;
    	line-height: 1.36363636em;
    	color: #252525;
	    font-weight: 300;
	    margin-top: 0;
	    padding: 0;
	}

	#second-feature p {
		margin-bottom: 1.36842105263158em;
		font-weight: 400;
    	color: #808080;
    	font-size: 1.35714286em;
    	line-height: 1.68421053em;
	}

	#second-feature a {
		font-size: 0.85714286em;
    	line-height: 2.16666667em;
    	font-weight: 700;
	}

	#second-feature img {
		border-radius: 6px;
		box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
	}

	/*Third Feature*/

	#third-feature h3 {
		font-size: 1.78571429em;
    	line-height: 1.5em;
    	color: #252525;
	    font-weight: 300;
	    margin-top: 0;
	}

	#third-feature .text-block {
		margin: 0 40px;
		width: 100%;
		padding-top: 100px;
	}

	#third-feature .text-block i {
		font-size: 5.57142857em;
		margin-left: 30%;
		padding-bottom: 20px;
	}

	.text-block #icon-2 {
		margin-left: 27% !important; 
	}

	.text-block #icon-3 {
		margin-left: 23% !important; 
	}

	#third-feature .text-block h4 {
		margin-top: 0.6842105263158em;
		margin-bottom: 0.3421052631579em;
		font-weight: 400;
		font-size: 1.35714286em;
    	color: #252525;
	}

	/*Fourth Feature*/

	#fourth-feature {
		padding-top: 7.42857143em;
    	padding-bottom: 7.42857143em;
	}

	#fourth-feature h2 {
		margin: 0 auto 0.78787878787879em auto;
		width: 70%;
		font-size: 2.35714286em;
    	line-height: 1.36363636em;
    	color: #252525;
   		font-weight: 300;
	}

	#fourth-feature #fourth-feature-btn {
		border-radius: 6px;
	    padding-top: 0.46428571em;
	    padding-bottom: 0.46428571em;
	    padding-right: 2.78571429em;
	    padding-left: 2.78571429em;
	    border: 1px solid #252525;
	    border-width: 1px;
	    font-size: inherit;
	    line-height: 1.85714286em;
	}

	#fourth-feature p {
		margin-top: 1.08333333333334em;
		font-size: 0.85714286em;
		line-height: 1.85714286em;
		color: #666666;
    	font-weight: 400;
	}

/* Footer Styles */
footer {
	margin-top: 40px;
	padding-top: 3em;
    padding-bottom: 1.2em;
    background-color: #252525;
}

footer ul {
	list-style: none;
    line-height: 1.85714286em;
    padding: 0;
}
footer li {
	line-height: 2.32142857em;
}

footer li a {
	opacity: .6;
	color: #FFF;
}

footer li a:hover {
	color: #FFF;
	opacity: 1;
	text-decoration: none;
}

footer hr {
	opacity: .6;
	border: none;
	border-bottom: 1px solid #FFF
}

footer .copyright {
	opacity: .6;
	margin-top: 3%;
	color : #FFFFFF;
}

/* Site Wide General Styles */

.jumbotron {
	background: transparent;
}

hr {
color: #123455;
background-color: #123455;
border: none;
border-bottom: 1px solid #123455;
}

/* Blog Styles */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-post a, .blog-header a {
	text-decoration: none;
}

.banner-container {
	display: flex;
	align-items: center;
	justify-content: center;
}



	/* Pagination */

	.pager {
	  margin-bottom: 60px;
	  text-align: left;
	}

	/* Sidebar */

	.sidebar-module {
	  padding: 15px;
	  margin: 0 -15px 15px;
	  background-color: #f5f5f5;
	  border-radius: 4px;
	}

/* Product General Styles */

.product-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-page-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.product-header a {
	text-decoration: none;
}

.product-list .pager {
	text-align: center;
}

.product-list-item {
	margin: 10px;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.product-list-item * {
	margin: 10px auto 20px auto;
}

	/* Product Item Styles */
	.product {
		margin: 30px;
	}

	.product-post-title {
		margin-left: 8px;
		margin-bottom: 15px;
		font-size: 40px;

	}

	@media screen and (max-width: 991px), screen and (max-height: 812px) {
		.product .product-screenshot {
			margin-bottom: 15px;
		}
	}