/* Front Page styles */
.front-page nav {
	background: transparent;
	border: none;
	margin-top: 20px;
}

.front-page .navbar-default .navbar-brand {
	color: #FFFFFF;
}

.front-page .navbar-default .navbar-nav > li > a:hover, .front-page .navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
}
	/* First Feature */
	#first-feature {
		background-image: url(http://aeso.io/img/cover.png);
		height: 655px;
		background-size: cover;
	}

	#first-feature .jumbotron {
		background: transparent;
	}

	#first-feature .jumbotron h1 {
		font-weight: 300;
		font-size: 3.14285714em;
		margin-top: 15%;
		line-height: 1.31818182em;
		color: white;
	}

	@media screen and (max-width: 767px) and (max-height: 812px) {
		#first-feature {
			height: 828px;
		}

		#first-feature .jumbotron h1 {
			margin-top: 40%;
		}
	}
	/*Second Feature*/
	#second-feature {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	#second-feature h2 {
		margin-bottom: 0.78787878787879em;
		font-size: 2.35714286em;
    	line-height: 1.36363636em;
    	color: #252525;
	    font-weight: 300;
	    margin-top: 0;
	    padding: 0;
	}

	#second-feature p {
		margin-bottom: 1.36842105263158em;
		font-weight: 400;
    	color: #808080;
    	font-size: 1.35714286em;
    	line-height: 1.68421053em;
	}
	#second-feature a {
		font-size: 0.85714286em;
    	line-height: 2.16666667em;
    	font-weight: 700;
	}

	#second-feature img {
		border-radius: 6px;
		box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
	}